/*************************************************|
| For elements that have floating elements inside |
| of them, this causes the container to have the  |
| proper height.
*************************************************/

.cf {

  &:after {
    clear: both;
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}