@mixin transition($prop, $style) {
  transition: $prop $transition_time $style;
}

@mixin transition-delay($prop, $style, $delay) {
  transition: $prop $transition_time $style $delay;
}

@mixin transition-time( $prop, $style, $time ) {
  transition: $prop $time $style;
}