@include component(breadcrumbs) {
  @extend .cf;
  max-width: 900px;
  margin: 0 auto 40px;

  @include part(list) {
    display: block;
    float: left;
    background: lighten($black, 15%);
    padding: 10px 20px;

    @include part(item) {
      display: inline-block;
      float: left;
      position: relative;
      list-style: none;
      color: $white;
      margin-right: 27px;

      &:after {
        font-family: 'FontAwesome', sans-serif;
        content: '\f061';
        color: $white;
        opacity: .6;
        display: block;
        font-size: .6rem;
        position: absolute;
        right: -17px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      @include part(link) {
        font-size: .8rem;
        color: $white;
        text-decoration: none;
        border: 0;
      }
    }
  }
}