@include component(button) {
	@include transition(all, ease);
   	z-index: 1;
   	cursor: pointer;
	color: white;
	background: $palette_a;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 40px;
	border: none;

	&:hover {
		background: darken($palette_a, 10%);
	}
}