@include component(button) {
  @include transition(all,ease);
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
  display: block;

  &:hover {
    background: $primary;
    font-size: 20px;
  }
}