@include component(carousel) {
  width: 100%;
  height: 400px;
  background: $black;
  position: relative;
  float: left;

  @include part(slide) {
    display: block;
    background: url('http://placehold.it/1000x800') center;
    background-size: cover;
    margin: 0;
    height: 400px;
  }
}

/// Slick carousel navigation arrow styles ///

.slick-prev,
.slick-next {
  width: 20px;
  height: 20px;
  border: 0;
  border-right: 1px solid $white;
  border-bottom: 1px solid $white;
  position: absolute;
  top: 50%;
  z-index: 3;
  background: none;
  cursor: pointer;
}

.slick-prev {
  left: 20px;
  transform: rotate(135deg);
}

.slick-next {
  right: 20px;
  transform: rotate(-45deg);
}

/// End Slick carousel navigation arrow styles ///