/*************************************************|
| Container                                       |
*************************************************/

@include component(container) {

  @extend .cf;
  padding: 0 $basepadding;

  @include bp($landscapetablet) {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0;
    width: 90%;
  }

  @include bp($desktop) {
    width: 85%;
  }

  @include option(--d75) {
    width: 75%;
  }
}
