@include component(footer) {
	background-color: $palette_a;
	box-sizing: border-box;
	color: $white;
	float: left;
	min-height: 80px;
	padding: 30px;
	width: 100%;

	@include bp($desktop) {
		padding: 30px 60px;
	}

	@include part(content-container) {
		margin: 0 auto;
		font-size: 0.8rem;

		@include part(column) {
			float: left;
			width: 100%;
			font-weight: normal;
			text-align: center;

			@include bp($tablet) {
				width: 50%;
				text-align: left;
			}

			@include part(link) {
				text-decoration: none;
				color: $white;
				font-family: $boldfont;
				opacity: 0.8;
				border-bottom: 1px solid $white;

				&:hover {
					opacity: 1;
					color: $white;
					border-bottom: 1px solid $white;
				}
			}

			@include option(credit) {
				text-align: center;
				margin-top: 8px;

				@include bp($tablet) {
					text-align: right;
					margin-top: 0;
				}
			}
		}
	}
}