@include component(intro-section-video) {
  @extend .cf;
  float: left;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  overflow: hidden;
  text-align: center;
  position: relative;

  @include rgba-overlay(.4);

  @include part(cta) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  @include part(title) {
    color: $white;
    line-height: 3.4rem;
  }

  @include part(video-container) {
    display: none;

    @include bp($landscapetablet) {
      display: block;
    }
  }

  @include part(video) {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

    @include bp($landscapetablet) {
      display: block;
    }
  }
}