@include component(rich-text-editor) {
  @extend .cf;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  /* Rich text editor settings */

  a {
    @include transition(all, ease);
    color: $palette_a;
    font-family: $basefont;
    border-bottom: 1px solid $palette_a;
    text-decoration: none;

    &:hover {
      color: $palette_b;
      border-bottom: 1px solid $palette_b;
    }
  }

  p {
    font-size: 1rem;
    font-family: $basefont;
    margin-bottom: 1.6rem;
  }

  em {
    color: $palette_a;
    font-family: $boldfont;
  }

  i {
    font-family: $italicfont;
    font-style: normal;
  }

  b {
    font-family: $boldfont;
  }

  ul,
  ol {
    margin-bottom: 1.4rem;
    line-height: 1.6rem;
  }

  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 20px;
    }
  }

  ol {
    li {
      list-style-type: decimal; 
      list-style-position: outside;
      margin-left: 35px;
      text-indent: 15px;
    }
  }

  sup {
    vertical-align: super;
    font-size: .7rem;
  }

  sub {
    vertical-align: sub;
    font-size: .7rem;
  }

  img {
    margin-bottom: 30px;
    max-width: 100% !important;
    max-height: 100% !important;
    display: block;
  }

  h2 {
    color: $palette_a;
  }
}