@include component(scroll-link) {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  margin-left: -100px;
  display: none;
  cursor: pointer;
  border-bottom: 0;

  &:hover {
    border-bottom: 0;
  }

  @include bp($tablet) {
    display: inline-block;
  }

  @include part(text) {
    @include transition(all, ease);
    font-size: .8rem;
    color: $white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
    letter-spacing: 1px;

    &:hover {
      color: $palette_c;
    }
  }

  @include part(arrow) {
    @include transition(all, ease);
    margin: 0 auto 10px;
    width: 15px;
    height: 15px;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    transform: rotate(45deg);
  }
}