/*************************************************|
| Put your fonts in here                          |
*************************************************/

@font-face {
  font-family: 'TiemposHeadlineLight';
  src: url('../../fonts/TiemposHeadline-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/TiemposHeadline-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/TiemposHeadline-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/TiemposHeadline-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TiemposHeadlineRegular';
  src: url('../../fonts/TiemposHeadline-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/TiemposHeadline-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/TiemposHeadline-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/TiemposHeadline-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DarwinLight';
  src: url('../../fonts/DarwinLight.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/DarwinLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/DarwinLight.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/DarwinLight.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'GraphikSemiBold';
  src: url('../../fonts/Graphik-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Graphik-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Graphik-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'GraphikBold';
  src: url('../../fonts/Graphik-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Graphik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Graphik-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'GraphikLight';
  src: url('../../fonts/Graphik-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Graphik-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Graphik-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'GraphikMedium';
  src: url('../../fonts/Graphik-Medium.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Graphik-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Graphik-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GraphikRegular';
  src: url('../../fonts/Graphik-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Graphik-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Graphik-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TiemposHeadlineMedium';
  src: url('../../fonts/TiemposHeadline-Medium.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/TiemposHeadline-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/TiemposHeadline-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Univers';
  src: url('../../fonts/Univers.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Univers.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Univers.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Univers.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Univers-Bold';
  src: url('../../fonts/Univers-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Univers-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Univers-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Univers-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Univers-Light';
  src: url('../../fonts/Univers-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Univers-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/Univers-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/Univers-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/fontawesome-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/Univers-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Univers-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/fontawesome-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
  font-family: $basefont;
  font-size: $basefontsize + px;
  color: $basefontcolor;
}