/*************************************************|
| Put your fonts in here                          |
*************************************************/

@font-face {
  font-family: 'InteloRegular';
  src: url('./../fonts/InteloRegular.eot');
  src: local('☺'), url('../../fonts/InteloRegular.ttf');
}
@font-face {
  font-family: 'InteloBold';
  src: url('./../fonts/InteloBold.eot');
  src: local('☺'), url('../../fonts/InteloBold.ttf');
}
@font-face {
  font-family: 'InteloItalic';
  src: url('./../fonts/InteloItalic.eot');
  src: local('☺'), url('../../fonts/InteloItalic.ttf');
}

html {
  color: $basefontcolor;
  font-family: $basefont;
  font-size: $basefontsize + px;
}
