/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
  font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Rich text editor settings */

a {
  @include transition(all, ease);
  color: $palette_a;
  font-family: $basefont;
  border-bottom: 1px solid $palette_a;
  text-decoration: none;

  &:hover {
    color: $palette_b;
    border-bottom: 1px solid $palette_b;
  }
}

p {
  font-size: 1rem;
  font-family: $basefont;
  margin-bottom: 1.6rem;
}

em {
  color: $palette_a;
  font-family: $boldfont;
}

i {
  font-family: $italicfont;
  font-style: normal;
}

b {
  font-family: $boldfont;
}

ul, ol {
  margin-bottom: 1.4rem;
  line-height: 1.6rem;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 35px;
  text-indent: 15px;
}

sup {
  vertical-align: super;
  font-size: 0.7rem;
}

sub {
  vertical-align: sub;
  font-size: 0.7rem;
}

img {
  margin-bottom: 30px;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block;
}

h2 {
  color: $palette_a;
}