@mixin htags($factor: 1) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $boldfont;
    font-weight: 700;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      $value: nth($headersizes, $i);
      $size: if(($value * $factor) < 1, 1, $value * $factor);
      font-size: $size * 1em;
      margin: (nth($headermargins, $i) * 1em) 0;
    }
  }
}

@include htags(1);