/*************************************************|
| Breakpoints                                     |
*************************************************/

$mobile                            : 320px;
$tablet                            : 560px;
$landscapetablet                   : 960px;
$desktop                           : 1260px;

/*************************************************|
| Colours                                         |
*************************************************/

$palette_a                        : #592941;
$palette_b                        : #498467;
$palette_c                        : #52B788;
$palette_d                        : #B2D3A8;
$palette_e                        : #0d0d0d;

/*************************************************|
| Font Settings - sizes in px                     |
*************************************************/

$basefont                          : 'Muli', sans-serif;
$boldfont                          : 'CenturyGothic', sans-serif;
$displayfont                       : 'CenturyGothic', sans-serif;
$italicfont                        : 'Muli', sans-serif;
$numberfont                        : 'Muli', sans-serif;

$basefontsize                      : 16;
$lineheight                        : 20;

$basefontcolor                     : $palette_e;

/*************************************************|
| Container Variables                             |
*************************************************/

$max-width                         : 1400px;
$basepadding__mobile               : 14px;
$basepadding                       : 28px;
$largepadding                      : 1.8em;

/*************************************************|
| Transition Times                                |
*************************************************/
$transition_time                   : 0.3s;
