/*************************************************|
| Background properties                           |
*************************************************/

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-tertiary {
  background: $tertiary;
}