/*************************************************|
| Text align properties                           |
*************************************************/

.tac {
  text-align: center;
}

.tal  {
  text-align: left;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}