@charset "UTF-8";
/*************************************************|
| Welcome to Valoisa. This is the main file we'll |
| compile our stylesheet from. If you want to add |
| any of your own sass files, you should add them |
| at the bottom of this file.                     |
*************************************************/
/*************************************************|
| Helpers are classes that are useful but aren't  |
| really considered to "style" the element.       |
*************************************************/
/*************************************************|
| For elements that have floating elements inside |
| of them, this causes the container to have the  |
| proper height.
*************************************************/
.cf:after, .breadcrumbs__list:after, .container:after, .content-container:after, .intro-section:after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

/*************************************************|
| Gotta put the mixins now so we have cool        |
| functions to use to save us time and money.     |
*************************************************/
/*************************************************|
| The breakpoint mixin, this will probably suit   |
| your needs, but feel free to hack it if it      |
| doesn't                                         |
*************************************************/
/*************************************************|
| We just reset everything so all styles below    |
| will be on a fresh canvas, delicious!  Just     |
| some configuration then we can actually do some |
| styling!
*************************************************/
/*************************************************|
| Breakpoints                                     |
*************************************************/
/*************************************************|
| Colours                                         |
*************************************************/
/*************************************************|
| Font Settings - sizes in px                     |
*************************************************/
/*************************************************|
| Container Variables                             |
*************************************************/
/*************************************************|
| Transition Times                                |
*************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Rich text editor settings */
a {
  transition: all 0.3s ease;
  color: #EA2533;
  font-family: "InteloRegular", sans-serif;
  border-bottom: 1px solid #EA2533;
  text-decoration: none; }
  a:hover {
    color: #4A75E6;
    border-bottom: 1px solid #4A75E6; }

p {
  font-size: 1rem;
  font-family: "InteloRegular", sans-serif;
  margin-bottom: 1.6rem; }

em {
  color: #EA2533;
  font-family: "InteloBold", sans-serif; }

i {
  font-family: "InteloItalic", sans-serif;
  font-style: normal; }

b {
  font-family: "InteloBold", sans-serif; }

ul, ol {
  margin-bottom: 1.4rem;
  line-height: 1.6rem; }

ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px; }

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 35px;
  text-indent: 15px; }

sup {
  vertical-align: super;
  font-size: 0.7rem; }

sub {
  vertical-align: sub;
  font-size: 0.7rem; }

img {
  margin-bottom: 30px;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block; }

h2 {
  color: #EA2533; }

/*************************************************|
| Put your fonts in here                          |
*************************************************/
@font-face {
  font-family: 'InteloRegular';
  src: url("./../fonts/InteloRegular.eot");
  src: local("☺"), url("../../fonts/InteloRegular.ttf"); }

@font-face {
  font-family: 'InteloBold';
  src: url("./../fonts/InteloBold.eot");
  src: local("☺"), url("../../fonts/InteloBold.ttf"); }

@font-face {
  font-family: 'InteloItalic';
  src: url("./../fonts/InteloItalic.eot");
  src: local("☺"), url("../../fonts/InteloItalic.ttf"); }

html {
  color: #000;
  font-family: "InteloRegular", sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "InteloRegular", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 3em;
  margin-bottom: 0.563em; }

h2 {
  font-size: 2.25em;
  margin-bottom: 0.625em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 1.313em; }

h4 {
  font-size: 1.313em;
  margin-bottom: 1.313em; }

h5 {
  font-size: 1.125em;
  margin-bottom: 1.313em; }

h6 {
  font-size: 1em;
  margin-bottom: 0.75em; }

/*************************************************|
| Now we can actually get on with making the site |
| styles                                          |
*************************************************/
body:before {
  transition: all 0.3s ease; }

body.\--menu-open {
  position: relative; }
  body.\--menu-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5); }

.breadcrumbs__list__item {
  display: inline-block;
  float: left;
  margin-right: 25px;
  position: relative; }
  .breadcrumbs__list__item:after {
    font-family: "FontAwesome";
    content: "\f061";
    color: #08AF22;
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    position: absolute;
    right: -17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .breadcrumbs__list__item:last-child:after {
    display: none; }
  .breadcrumbs__list__item__link {
    font-size: 14px;
    font-size: 0.875rem;
    color: #EA2533;
    text-decoration: none; }

.button {
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
  color: white;
  background: #EA2533;
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 40px;
  border: none; }
  .button:hover {
    background: #c91320; }

.carousel {
  width: 100%;
  height: 50vh;
  min-height: 400px;
  background: #000;
  position: relative;
  float: left; }
  .carousel__slide {
    display: block;
    background: url("http://placehold.it/1000x800");
    background-size: cover;
    background-position: center;
    margin: 0; }

.slick-prev, .slick-next {
  width: 20px;
  height: 20px;
  border: none;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  top: 50%;
  z-index: 3;
  background: none;
  cursor: pointer; }

.slick-prev {
  left: 20px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.slick-next {
  right: 20px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/*************************************************|
| Container                                       |
*************************************************/
.container {
  padding: 0 28px; }
  @media (min-width: 960px) {
    .container {
      margin: 0 auto;
      max-width: 1400px;
      padding: 0;
      width: 90%; } }
  @media (min-width: 1260px) {
    .container {
      width: 85%; } }
  .container.\----d75 {
    width: 75%; }

.content-container {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 30px;
  width: 100%; }
  @media (min-width: 1260px) {
    .content-container {
      padding: 60px; } }

.footer-content {
  float: left;
  width: 100%;
  background: #262626;
  padding: 60px 30px;
  box-sizing: border-box; }
  @media (min-width: 1260px) {
    .footer-content {
      padding: 60px; } }
  .footer-content__column {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px; }
    @media (min-width: 560px) {
      .footer-content__column {
        width: 45%;
        margin-right: 10%; }
        .footer-content__column:nth-child(2n+2) {
          margin-right: 0; } }
    @media (min-width: 1260px) {
      .footer-content__column {
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 0; }
        .footer-content__column:last-child {
          margin-right: 0; }
        .footer-content__column:nth-child(2) {
          margin-right: 2%; } }
    .footer-content__column__blog {
      width: 100%; }
      .footer-content__column__blog__image {
        float: left;
        width: 33.333%;
        height: 80px;
        background: url("http://placehold.it/160x160");
        background-size: cover;
        background-position: center; }
      .footer-content__column__blog__content {
        float: left;
        width: 66.666%;
        color: #fef6f7;
        padding-left: 30px;
        box-sizing: border-box; }
        .footer-content__column__blog__content__title {
          width: 100%;
          margin-bottom: 10px; }
        .footer-content__column__blog__content__text {
          width: 100%; }
    .footer-content__column__image {
      width: 70%; }
    .footer-content__column__text {
      color: #fff; }
    .footer-content__column__title {
      color: #fff;
      display: block;
      border-bottom: 1px solid #4d4d4d;
      padding-bottom: 5px; }
    .footer-content__column__twitter {
      position: relative;
      float: right;
      width: 90%;
      color: #fff;
      font-size: 0.7rem;
      line-height: 1.1rem;
      padding-left: 10px;
      box-sizing: border-box; }
      .footer-content__column__twitter:before {
        font-family: 'fontawesome';
        content: '\f099';
        position: absolute;
        left: -25px;
        top: 0;
        color: #EA2533;
        font-size: 1.6rem; }
      .footer-content__column__twitter__title {
        width: 100%;
        margin-bottom: 10px; }
      .footer-content__column__twitter__text__link {
        color: #EA2533;
        text-decoration: none; }
    .footer-content__column__contact {
      position: relative;
      float: right;
      width: 90%;
      color: #fff;
      padding-left: 10px;
      box-sizing: border-box; }
      .footer-content__column__contact:before {
        font-family: 'fontawesome';
        content: '\f015';
        position: absolute;
        left: -25px;
        top: 0;
        color: #EA2533; }
      .footer-content__column__contact__telephone {
        position: relative;
        margin-top: 20px;
        letter-spacing: 1px; }
        .footer-content__column__contact__telephone:before {
          font-family: 'fontawesome';
          content: '\f095';
          position: absolute;
          left: -35px;
          top: 0;
          color: #EA2533; }
      .footer-content__column__contact__email {
        position: relative;
        margin-top: 20px; }
        .footer-content__column__contact__email:before {
          font-family: 'fontawesome';
          content: '\f003';
          position: absolute;
          left: -35px;
          top: 0;
          color: #EA2533; }
        .footer-content__column__contact__email__link {
          color: #EA2533;
          text-decoration: none; }

.footer {
  background-color: #EA2533;
  box-sizing: border-box;
  color: #fff;
  float: left;
  min-height: 80px;
  padding: 30px;
  width: 100%; }
  @media (min-width: 1260px) {
    .footer {
      padding: 30px 60px; } }
  .footer__content-container {
    margin: 0 auto;
    font-size: 0.8rem; }
    .footer__content-container__column {
      float: left;
      width: 100%;
      font-weight: normal;
      text-align: center; }
      @media (min-width: 560px) {
        .footer__content-container__column {
          width: 50%;
          text-align: left; } }
      .footer__content-container__column__link {
        text-decoration: none;
        color: #fff;
        font-family: "InteloBold", sans-serif;
        opacity: 0.8;
        border-bottom: 1px solid #fff; }
        .footer__content-container__column__link:hover {
          opacity: 1;
          color: #fff;
          border-bottom: 1px solid #fff; }
      .footer__content-container__column.\--credit {
        text-align: center;
        margin-top: 8px; }
        @media (min-width: 560px) {
          .footer__content-container__column.\--credit {
            text-align: right;
            margin-top: 0; } }

.header {
  float: left;
  width: 100%;
  background: #262626;
  padding: 30px;
  box-sizing: border-box; }
  @media (min-width: 1260px) {
    .header {
      padding: 30px 60px; } }
  .header__logo {
    float: left;
    width: 240px;
    max-width: 300px;
    height: 80px;
    position: relative; }
    @media (min-width: 960px) {
      .header__logo {
        width: 25%;
        max-width: 300px; } }
    .header__logo__image {
      width: 300px;
      height: 80px;
      background: url("../../../assets/img/logo-white.png");
      background-position: center;
      background-size: cover; }
  .header__navigation {
    transition: all 0.3s ease;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background: #262626;
    padding: 40px;
    box-sizing: border-box;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
    .header__navigation.\--active {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    .header__navigation__menu__item {
      list-style: none;
      display: block;
      width: 100%;
      height: 80px;
      cursor: pointer;
      margin-left: 0;
      border-bottom: 1px solid #333333; }
      .header__navigation__menu__item:first-child {
        border-top: 1px solid #333333; }
      .header__navigation__menu__item__link {
        color: #fff;
        border-bottom: none;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 80px;
        position: relative; }
        .header__navigation__menu__item__link:hover, .header__navigation__menu__item__link:focus {
          color: #EA2533;
          border-bottom: none; }
          .header__navigation__menu__item__link:hover:after, .header__navigation__menu__item__link:focus:after {
            width: 100%; }
        .header__navigation__menu__item__link:after {
          transition: all 0.3s ease;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 0;
          height: 3px;
          background: #EA2533;
          z-index: 101;
          content: " "; }
        .header__navigation__menu__item__link:focus {
          color: #EA2533;
          border-bottom: none; }
    .header__navigation__mobile-link {
      position: absolute;
      top: 30px;
      left: -80px;
      width: 80px;
      height: 80px;
      padding: 30px 25px;
      box-sizing: border-box;
      background: #EA2533;
      cursor: pointer;
      border-bottom: none; }
      .header__navigation__mobile-link:hover {
        border-bottom: none; }
      @media (min-width: 960px) {
        .header__navigation__mobile-link {
          display: none; } }
    .header__navigation__mobile-menu-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 80px;
      height: 80px;
      padding: 30px 25px;
      box-sizing: border-box; }
      .header__navigation__mobile-menu-icon__bar {
        transition: all 0.3s ease;
        position: relative;
        display: block;
        height: 1px;
        width: 30px;
        background: #fff;
        z-index: 10;
        margin-bottom: 9px; }
        .header__navigation__mobile-menu-icon__bar.\--open:nth-child(1) {
          top: 10px;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
        .header__navigation__mobile-menu-icon__bar.\--open:nth-child(2) {
          opacity: 0; }
        .header__navigation__mobile-menu-icon__bar.\--open:nth-child(3) {
          bottom: 10px;
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }
      @media (min-width: 960px) {
        .header__navigation__mobile-menu-icon {
          display: none; } }
    @media (min-width: 960px) {
      .header__navigation {
        transition: none;
        background: none;
        height: 80px;
        width: 75%;
        max-width: 75%;
        float: right;
        position: relative;
        padding: 0;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px); }
        .header__navigation__menu {
          float: right;
          display: block;
          height: 80px; }
          .header__navigation__menu__item {
            text-align: right;
            display: inline-block;
            list-style: none;
            width: auto;
            margin-bottom: 0;
            margin-left: 20px;
            border: none;
            padding: 0; }
            .header__navigation__menu__item:first-child {
              border-top: none; }
            .header__navigation__menu__item__link:after {
              bottom: 20px; } }

iframe {
  height: 500px;
  width: 100%; }

.intro-section {
  float: left;
  width: 100%;
  height: calc(100vh - 140px);
  min-height: 550px;
  overflow: hidden;
  text-align: center;
  position: relative; }
  .intro-section__cta {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .intro-section__title {
    color: white;
    line-height: 3.4rem; }
  .intro-section__video {
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow-x: hidden;
    box-sizing: border-box; }

.rich-text-editor {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

.scroll-link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  margin-left: -100px;
  display: none;
  cursor: pointer;
  border-bottom: none; }
  .scroll-link:hover {
    border-bottom: none; }
  @media (min-width: 560px) {
    .scroll-link {
      display: inline-block; } }
  .scroll-link__text {
    transition: all 0.3s ease;
    font-size: 0.8rem;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
    letter-spacing: 1px; }
    .scroll-link__text:hover {
      color: #FEBC1F; }
  .scroll-link__arrow {
    transition: all 0.3s ease;
    margin: 0 auto 10px auto;
    width: 15px;
    height: 15px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.skip-link {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EA2533;
  padding: 20px;
  color: white;
  border-bottom: none;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
  z-index: 1; }
  .skip-link:focus {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .skip-link:not(:focus) {
    transition-delay: 1s; }
  .skip-link:hover {
    border-bottom: none;
    background-color: #c91320;
    color: #fff; }

.svg-logo {
  width: 80%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .svg-logo__element.\--colour-a {
    fill: #fff; }
  .svg-logo__element.\--colour-b {
    fill: #EA2533; }
