/*************************************************|
| Welcome to Bloc. This is the main file we'll |
| compile our stylesheet from. If you want to add |
| any of your own sass files, you should add them |
| at the bottom of this file.                     |
*************************************************/
@import url(../../vendor/slick/slick.css);
@import url(../../vendor/font-awesome/css/font-awesome.css);
/*************************************************|
| Helpers are classes that are useful but aren't  |
| really considered to "style" the element.       |
*************************************************/
/*************************************************|
| For elements that have floating elements inside |
| of them, this causes the container to have the  |
| proper height.
*************************************************/
.cf:after, .container:after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

/*************************************************|
| Gotta put the mixins now so we have cool        |
| functions to use to save us time and money.     |
*************************************************/
/*************************************************|
| The breakpoint mixin, this will probably suit   |
| your needs, but feel free to hack it if it      |
| doesn't                                         |
*************************************************/
/*************************************************|
| We just reset everything so all styles below    |
| will be on a fresh canvas, delicious!  Just     |
| some configuration then we can actually do some |
| styling!
*************************************************/
/*************************************************|
| Breakpoints                                     |
*************************************************/
/*************************************************|
| Colours                                         |
*************************************************/
/*************************************************|
| Font Settings - sizes in px                     |
*************************************************/
/*************************************************|
| Container Variables                             |
*************************************************/
/*************************************************|
| Transition Times                                |
*************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #560000; }
  a:hover {
    color: #b70000; }

video {
  object-fit: cover;
  font-family: 'object-fit: cover;'; }

/*************************************************|
| Put your fonts in here                          |
*************************************************/
@font-face {
  font-family: 'TiemposHeadlineLight';
  src: url("../../fonts/TiemposHeadline-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/TiemposHeadline-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/TiemposHeadline-Light.woff") format("woff"), url("../../fonts/TiemposHeadline-Light.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'TiemposHeadlineRegular';
  src: url("../../fonts/TiemposHeadline-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/TiemposHeadline-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/TiemposHeadline-Regular.woff") format("woff"), url("../../fonts/TiemposHeadline-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'DarwinLight';
  src: url("../../fonts/DarwinLight.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/DarwinLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/DarwinLight.woff") format("woff"), url("../../fonts/DarwinLight.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'GraphikSemiBold';
  src: url("../../fonts/Graphik-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Semibold.woff") format("woff"), url("../../fonts/Graphik-Semibold.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'GraphikBold';
  src: url("../../fonts/Graphik-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Graphik-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Bold.woff") format("woff"), url("../../fonts/Graphik-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'GraphikLight';
  src: url("../../fonts/Graphik-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Graphik-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Light.woff") format("woff"), url("../../fonts/Graphik-Light.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'GraphikMedium';
  src: url("../../fonts/Graphik-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Medium.woff") format("woff"), url("../../fonts/Graphik-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'GraphikRegular';
  src: url("../../fonts/Graphik-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Regular.woff") format("woff"), url("../../fonts/Graphik-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'TiemposHeadlineMedium';
  src: url("../../fonts/TiemposHeadline-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/TiemposHeadline-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/TiemposHeadline-Medium.woff") format("woff"), url("../../fonts/TiemposHeadline-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Univers';
  src: url("../../fonts/Univers.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Univers.eot?#iefix") format("embedded-opentype"), url("../../fonts/Univers.woff") format("woff"), url("../../fonts/Univers.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Univers-Bold';
  src: url("../../fonts/Univers-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Univers-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Univers-Bold.woff") format("woff"), url("../../fonts/Univers-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Univers-Light';
  src: url("../../fonts/Univers-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Univers-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Univers-Light.woff") format("woff"), url("../../fonts/Univers-Light.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff") format("woff"), url("../../fonts/fontawesome-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/Univers-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Univers-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff") format("woff"), url("../../fonts/fontawesome-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */ }

html {
  font-family: "Univers-Light", sans-serif;
  font-size: 14px;
  color: #2f2f2f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2f2f;
  font-family: "TiemposHeadlineLight", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.1rem;
  margin-bottom: 0.563rem;
  line-height: 2.4rem; }
  @media (min-width: 1260px) {
    h1 {
      font-size: 3rem;
      margin-bottom: 0.563rem;
      line-height: 3.42rem; } }

h2 {
  font-size: 1.575rem;
  margin-bottom: 0.625rem;
  line-height: 1.8rem; }
  @media (min-width: 1260px) {
    h2 {
      font-size: 2.25rem;
      margin-bottom: 0.625rem;
      line-height: 2.67rem; } }

h3 {
  font-size: 1.05rem;
  margin-bottom: 1.313rem;
  line-height: 1.2rem; }
  @media (min-width: 1260px) {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.313rem;
      line-height: 1.92rem; } }

h4 {
  font-size: 0.9191rem;
  margin-bottom: 1.313rem;
  line-height: 1.0504rem; }
  @media (min-width: 1260px) {
    h4 {
      font-size: 1.313rem;
      margin-bottom: 1.313rem;
      line-height: 1.733rem; } }

h5 {
  font-size: 0.7875rem;
  margin-bottom: 1.313rem;
  line-height: 0.9rem; }
  @media (min-width: 1260px) {
    h5 {
      font-size: 1.125rem;
      margin-bottom: 1.313rem;
      line-height: 1.545rem; } }

h6 {
  font-size: 0.7rem;
  margin-bottom: 0.75rem;
  line-height: 0.8rem; }
  @media (min-width: 1260px) {
    h6 {
      font-size: 1rem;
      margin-bottom: 0.75rem;
      line-height: 1.42rem; } }

/*************************************************|
| Now we can actually get on with making the site |
| styles                                          |
*************************************************/
body {
  background: blue;
  color: green; }

/*************************************************|
| Container                                       |
*************************************************/
.container {
  padding: 0 28px; }
  @media (min-width: 960px) {
    .container {
      margin: 0 auto;
      max-width: 1400px;
      padding: 0;
      width: 90%; } }
  @media (min-width: 1260px) {
    .container {
      width: 85%; } }
  .container.\----d75 {
    width: 75%; }
